.textb{
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #3586ff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.textareab{
    font-weight:300;
    font-size: 15px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #3586ff;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    height: 200px;
}
.btn{
  background-color: transparent;
  border: 2px solid #3586ff;
  transition: all 0.3s;
}
h3{
    padding: 10px 0px 10px 0px;
}